@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);
// stylelint-disable value-keyword-case
$font__main: 'Libre Baskerville', sans-serif;
// stylelint-enable value-keyword-case
$font__code: 'Libre Baskerville', sans-serif;
$font__pre: 'Libre Baskerville', sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
